jsoncode/flow.json
[{"id":"3f9eec9a.3d1ba4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"eff826ee.e61728","type":"debug","z":"3f9eec9a.3d1ba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":80,"wires":[]},{"id":"11746383.140f8c","type":"cloudant in","z":"3f9eec9a.3d1ba4","name":"","cloudant":"","database":"doorbel","service":"node-red-yiefz-cloudant-1594426328184-73744","search":"_id_","design":"","index":"","x":420,"y":180,"wires":[["eff826ee.e61728","1e97c16.3cf0a3f","ee2ef0ec.46aca"]]},{"id":"2d8abba6.df7854","type":"inject","z":"3f9eec9a.3d1ba4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"tuesday\"}","payloadType":"json","x":220,"y":100,"wires":[["11746383.140f8c"]]},{"id":"9165055b.a62108","type":"inject","z":"3f9eec9a.3d1ba4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"wednesday\"}","payloadType":"json","x":210,"y":160,"wires":[["11746383.140f8c"]]},{"id":"2db72923.83dbe6","type":"inject","z":"3f9eec9a.3d1ba4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"thursday\"}","payloadType":"json","x":220,"y":220,"wires":[["11746383.140f8c"]]},{"id":"1ad41b4c.f1fe85","type":"inject","z":"3f9eec9a.3d1ba4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"friday\"}","payloadType":"json","x":210,"y":280,"wires":[["11746383.140f8c"]]},{"id":"3106fc0d.9aa4a4","type":"inject","z":"3f9eec9a.3d1ba4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"saturday\"}","payloadType":"json","x":220,"y":340,"wires":[["11746383.140f8c"]]},{"id":"4757b8d9.c33d38","type":"inject","z":"3f9eec9a.3d1ba4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"sunday\"}","payloadType":"json","x":220,"y":400,"wires":[["11746383.140f8c"]]},{"id":"4c21ac75.958584","type":"inject","z":"3f9eec9a.3d1ba4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"monday\"}","payloadType":"json","x":250,"y":40,"wires":[["11746383.140f8c"]]},{"id":"1e97c16.3cf0a3f","type":"function","z":"3f9eec9a.3d1ba4","name":"Medicine","func":"global.set(\"medicine\",msg.payload.medicine)\nmsg.payload=msg.payload.medicine\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["eff826ee.e61728","b830bd97.94f76","388ac778.106fb8"]]},{"id":"53927cc7.c629d4","type":"function","z":"3f9eec9a.3d1ba4","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["20046c85.a3cac4"]]},{"id":"ee2ef0ec.46aca","type":"function","z":"3f9eec9a.3d1ba4","name":"Day","func":"global.set(\"day\",msg.payload._id)\nmsg.payload=msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":160,"wires":[["eff826ee.e61728","692d927e.febacc"]]},{"id":"e81448de.46bf58","type":"http in","z":"3f9eec9a.3d1ba4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":290,"y":480,"wires":[["f614b665.8692b8"]]},{"id":"2cbecf5b.e1ebe","type":"http response","z":"3f9eec9a.3d1ba4","name":"","statusCode":"","headers":{},"x":680,"y":480,"wires":[]},{"id":"f614b665.8692b8","type":"function","z":"3f9eec9a.3d1ba4","name":"","func":"msg.payload={\"day\":global.get(\"day\"),\"medicine\":global.get(\"medicine\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":460,"wires":[["2cbecf5b.e1ebe"]]},{"id":"b830bd97.94f76","type":"ui_text","z":"3f9eec9a.3d1ba4","group":"93b7ff4e.f0266","order":0,"width":0,"height":0,"name":"","label":"Medicine","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":240,"wires":[]},{"id":"692d927e.febacc","type":"ui_text","z":"3f9eec9a.3d1ba4","group":"7a3045f1.1e189c","order":0,"width":0,"height":0,"name":"","label":"Day","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":180,"wires":[]},{"id":"20046c85.a3cac4","type":"play audio","z":"3f9eec9a.3d1ba4","name":"","voice":"0","x":750,"y":380,"wires":[]},{"id":"388ac778.106fb8","type":"watson-text-to-speech","z":"3f9eec9a.3d1ba4","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"sccXKlIflC41c1IDo6v9ZpqYlbBeGbY0Ct-407-jkz90","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/257426b5-f28d-4502-bb85-a9f53942a4af","x":640,"y":260,"wires":[["53927cc7.c629d4"]]},{"id":"93b7ff4e.f0266","type":"ui_group","z":"","name":"MEDICINE","tab":"b353aa16.8df8d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a3045f1.1e189c","type":"ui_group","z":"","name":"DAY","tab":"b353aa16.8df8d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b353aa16.8df8d8","type":"ui_tab","z":"","name":"Smart Medicine Remainer","icon":"dashboard","disabled":false,"hidden":false}]